<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crud</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">qaz923923</property>

        <!-- Настройка диалекта -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Настройки показа и форматирования SQL -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <!-- Автоматическое создание, обновление или валидация схемы при запуске -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Указание аннотированных классов -->
        <mapping class="com.vladkostromin.model.Event"/>
        <mapping class="com.vladkostromin.model.User"/>
        <mapping class="com.vladkostromin.model.File"/>

        <!-- Другие свойства и маппинги -->

    </session-factory>

</hibernate-configuration>
